############################
# npm
############################
node_modules
npm-debug.log

############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
*#
*~
.idea
*sublime*
.DS_Store
nbproject

############################
# Tests
############################
testApp
coverage

############################
# Other
############################
.node_history
